/* @media (min-width: 726px) and (max-width: 1024px) { */
  @media (max-width:900px){
  .practice__content{
    display:inline-block;
  }
  .word__explanation__wrapper{
    width:60%;
    margin:0 auto;
  }
  .word__explanation__tab{

  }
  .tabs__content{
    width:100%;
  }
  .advice__message__wrapper{
    display: inline-block;
  }

}