/* リセットCSS */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}

body {
  line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
  display:block;
}

ul {
  list-style:none;
}

blockquote, q {
  quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content:'';
  content:none;
}

a {
  margin:0;
  padding:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  text-decoration: none;
}

/* change colours to suit your needs */
ins {
  background-color:#ff9;
  color:#000;
  text-decoration:none;
}

/* change colours to suit your needs */
mark {
  background-color:#ff9;
  color:#000;
  font-style:italic;
  font-weight:bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom:1px dotted;
  cursor:help;
}

table {
  border-collapse:collapse;
  border-spacing:0;
}

/* change border colour to suit your needs */
hr {
  display:block;
  height:1px;
  border:0;
  border-top:1px solid #cccccc;
  margin:1em 0;
  padding:0;
}

input, select {
  vertical-align:middle;
}


/* 全ページ共通 */
h1,h2,p{
  color:white;
  text-align: center;
  text-shadow: 15px 10px 20px #000;
}

.btn{
  padding:16px 24px;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
  border-radius: 24px;
}

/* ---------------トップページ--------------- */
.top__wrapper{
  background-image: url("image/top.jpg");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto auto;
  text-align: center;
}
.top__wrapper h1{
  font-size:64px;
  letter-spacing: 6px;
  padding-top:8%;
  padding-bottom:44px;
}
.top__wrapper h2{
  font-size: 22px;
  letter-spacing: 3px;
  line-height: 48px;
  margin-bottom: 8%;
}
.start__btn{
  background-color: #fff;
  color:#676767;
  transition: 0.2s ease-out;
}
.start__btn:hover{
  background-color: #f7a52b;
  color:#fff;
  transition: 0.3s;
}

/* ---------------撮影場面選択ページ--------------- */
.scene__select__wrapper{
  background-image: url("image/select.jpg");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto auto;
  text-align: center;
}
.scene__select__wrapper h2{
  font-size:48px;
  letter-spacing: 6px;
  padding-top:8%;
  padding-bottom:5%;
}
.scene__wrapper{
  display:flex;
  text-align: center;
  justify-content: center;
  width:75%;
  margin:0 auto;
}
.image__scene{
  width:50%;
}
.image__scene p{
  font-size:22px;
  letter-spacing: 3px;
}
.target__image{
  width:70%;
  margin-top:24px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px rgb(255, 255, 255);
  filter:brightness(0.9)
}
.target__image:hover{
  filter: brightness(1.05);
  transform: scale(1.1);
  transition: 0.5s;
}
.select__page__btn{
  background-color: #fff;
  color:#676767;
  transition: 0.2s ease-out;
  margin:0px 22px;
}
.select__page__btn:hover{
  background-color: #f7a52b;
  color:#fff;
  transition: 0.3s;
}
.btn__wrapper{
  margin-top:44px;
}

/* ---------------撮影シーン１--------------- */
.practice__wrapper{
  background-image: url("image/scene1-back.jpg");
  min-height: 100vh;
  text-align: center;
  background-color: #c5c1d4;
}
.practice__wrapper h2{
  font-size:48px;
  letter-spacing: 6px;
  padding-top:5%;
  padding-bottom:1%;
}
.practice__content{
  display:flex;
  width:90%;
  margin:0 auto;
  justify-content: center;
  margin-top: 24px;
}
.word__explanation__wrapper{
  margin-top: 68px;
  margin-left :64px;
}
.tab__title{
  font-size: 20px;
  letter-spacing: 8px;
  padding: 14px 0 14px;
  border-radius: 10px 10px 0px 0px;
  background-color: #363636;
  text-shadow: none;
  font-weight: bold;
}

.preview__wrapper{
  position: relative;
}
.preview__content{
  height:320px;
}
.image__preview__text{
  position: absolute;
  top:84px;
  left:136px;
  text-shadow: 0 0 10px #90c4ff;
  font-size: 16px;
  letter-spacing: 6px;
}
.scene1__page__btn{
  background-color: #5B5BED;
  color:#ffffff;
  transition: 0.2s ease-out;
  margin:0px 22px;
}

/* ---------------タブメニュー--------------- */
/* タブの基本スタイル */
.tabs__menu li{
  display: block;
  float: left;
  margin-bottom: -1px;
  padding:8px 0px;
  width:calc(100%/3);
  border-style: solid;
  border-color:transparent;
  text-decoration: none;
  background-color: #363636;
  color: #797979;
  font-size:14px;
}
/* タブにマウスを乗せたらカーソルの形を変える */
.tabs__menu li:hover{
  cursor:pointer;
  color:white;
}
/* 非選択のタブにマウスを乗せたら色を変える */
.tabs__menu li:not(.active):hover{
  border-color: #f0f0f0 #f0f0f0 rgb(255, 255, 255);
  background-color: #7a797e;
}
/* 選択中のタブ */
.tabs__menu .active{
  border-color: #999 #999 transparent #999;
  background-color: #fff;
  color:#676767;
  transition:0.3s;
  font-weight: bold;
}
.tabs__menu .active:hover{
  color:#676767;
}
/* タブコンテンツ表示エリア */
.tabs__content{
  clear:both;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0 0 10px 10px;
  padding:10px;
  width:320px;
  background-color: white;
}
.tabs__content p{
  color:#676767;
  text-shadow: none;
  letter-spacing: 1px;
  line-height: 28px;
  text-align: left;
  font-size: 14px;
}
.important__word{
  color:#ff5050;
  background:linear-gradient(transparent 70%, #FFFF00 0%);
}
.only__underline{
  background:linear-gradient(transparent 70%, #FFFF00 0%);
  font-weight: bold;
}
/* ---------------設定のアドバイスメッセージ--------------- */
.advice__message__wrapper{
  position: relative;
}
.advice__message__wrapper p{
  text-shadow: none;
  line-height: 28px;
  color:#676767;
  padding:0 22px;
  /* font-size: 14px; */
}
.instruction__word{
  font-size: 22px;
}
.advice__message{
  position: relative;
  padding: 12px;
  width: 500px;
  background: #ffffff;
  display:inline-block;
  margin-top:28px;
  box-shadow:0 0 22px rgb(255, 251, 0);
  border-radius: 16px;
/* ふわふわ動かす */
  animation-name: ▲▲▲▲;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1s;
}
@keyframes ▲▲▲▲ {
  0% {
    transform: translate(0,0px);
  }
  100% {
    transform: translate(0,-5px)
  }
}
.advice__message:after{
position: absolute;
content: '';
top: 100%;
border: 15px solid transparent;
border-top: 15px solid #fff;
width: 0;
height: 0;
}
.message1:after{
  left:90px;
}
.message2:after{
  left:270px;
}
.message3:after{
  left:460px;
}
.onepoint{
  display: inline-block;
  position: absolute;
  /* top:50%; */
  left:536px;
  top:10px;
  /* background-color: #fff; */
  font-size: 12px;
  /* width: 270px; */
}
.onepoint img{
  height:90px;
}
/* ---------------カメラ設定切り替え--------------- */
.switch__wrapper{
  height: 60px;
  margin:0 auto;
  width:800px;
  margin-top: 4px;
}
.switch__wrapper li{
  float: left;
  display: block;
  margin-top: 24px;
}
.switch__wrapper p{
  background-color: #5B5BED;
  padding-left: 22px;
  border-radius: 10px;
  margin-right: 28px;
}
.switch__wrapper p:hover{
  box-shadow:0px 0px 10px #d3eaff;
}
.switch__wrapper select{
  font-size: 16px;
  border-radius: 0 10px 10px 0;
  padding:3px 16px 4px 16px;
  border-color: #5B5BED;
  vertical-align: baseline;
}
/* シャッターボタン */
.shutter__wrapper{
  margin-top: 20px;
  width: 800px;
  text-align: left;
  margin:0 auto;
}
.shutter__wrapper a{
  background-color: white;
  color:#676767;
  padding:18px 32px;
  display: inline-block;
  margin-left:24px;
}
.shutter__wrapper a:hover{
  transform: scale(1.1);
  transition: 0.3s;
}
/* ダミーのシャッター */
#dummy__shutter{
  background-color: white;
  color:#676767;
  padding:18px 32px;
  display: inline-block;
  margin-left:24px;
  opacity:0.1;
}

/* ---------------撮影結果表示ページ--------------- */

/* 後ろを覆う黒い幕 */
.overlay {
  /* 画面いっぱいに表示 */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* 他のコンテンツより上のレイヤーに表示 */
  z-index: 10000;

  /* 初期状態では非表示 */
  display: none;

  /* 透けた黒色にする */
  background-color:rgba(0, 0, 0, 0.8);

  /* マウスカーソルを手の形にする */
  cursor: pointer;
}

.overlay p{
  background-color: rgb(59, 59, 59);
  width:100%;
  padding:60px 0 40px;
  opacity: 0.9;
  border-radius: 0px;
  font-size:32px;
  font-family: fantasy;
}

/* 拡大写真の表示エリア */
.popup-content {
  /* 60x60で左右中央に表示する */
  position: absolute;
  top: 25%;
  left: 25%;
  /* width: 60px;
  height: 60px; */
  /* margin-top: -30px; */
  /* margin-left: -30px; */
  text-align: center;

  /* 枠をつける */
  padding: 4px;
  background-color: #ccc;
}

#app{
  height: 320px;
}

.top__button__wrapper{
  margin-top:64px;
  display: flex;
  justify-content: center;
}

.loading-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -23px;
  font-size: 46px;
  animation: spin 2s linear infinite;
}

/* 回転するアニメーション */
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
